/*
CSS Base for the Miskatonic Herald
*/

@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

/*
* CSS for body
*/

body{
  display:flex;
  align-items:center;
  justify-content:center;
  height:100vh;

  /*background-color:#323232;*/
  background-image:url("https://picsum.photos/1600/900");
  font-family: 'OuroborosRegular';
  font-weight: normal;
  font-style: normal;
  margin: 0;
  color:#ffffff;
}


/*
* CSS for items
*/

h1{
  font-size: 30px;
}

content{
  display: grid;
  background-color: rgba(34, 38, 44, 0.8);
  border: 2px solid;
  border-radius: 10px;
  height: 500px;
  width: 700px;
}

items{
  display: grid;
  justify-content: center;


}

item{
  display: grid;
  justify-content: center;

}

/*
* CSS for body
*/

button{
  font-family: 'OuroborosRegular';
  color:#ffffff;
  background-image: linear-gradient(to bottom right, violet,yellow);
  width: 300px;
  height: 50px;
  border-radius: 10px;
  transition-duration: 1s;

}

button:hover {
  transform: scale(1.02);
  background-image: linear-gradient(to bottom right, yellow,violet);
  transition: 1s;
}

button:active {


}


/*
* CSS for steps
* - Includes the opacity for the
*   animation that makes this more
*   dinamyc, but is only a simple
*   GUI.
*/

steps{
  visibility: hidden;
  display: grid;
  justify-content: center;
  text-align: center;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(6,1fr);

}

/*
* CSS for all the steps
* with class (estabaEscondido)
* that turns the element visible
* with a transition.
*/
steps * {

}

.estabaEscondido{
visibility: hidden;

}


/*Progress*/
/*
* CSS for ProgressBars
*/
progress{
  margin-left: 2em;
  background-color: blue;
  border-radius: 2px;

}

::-webkit-progress-value{
  background-color: blue;
  border-radius: 2px;

}



finalmsg{

  -webkit-animation: neon 1.5s ease-in-out infinite alternate;
  -moz-animation: neon 1.5s ease-in-out infinite alternate;
  animation: neon 1.5s ease-in-out infinite alternate;

}

@keyframes neon {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
}
