/* JINX DRUMKIT! */

body{

  background-image: url("jinx.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}

.keys{
  display: grid;
  align-items: center;
  justify-content: center;
  height:100%;
  grid-template-columns: repeat(4,10em);
  grid-column-gap: 60px;


}

.key{
  padding: 30px;
  border: 8px solid black;
  border-radius: 10px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.4);

}

kbd {
    color: white;
    font-size: 85px;
    font-weight: bold;
}

.sound{
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  color: yellow;
  font-weight: bold;
}
/* Una vez le apliquemos el JS haremos que ejecutre esta transicion */
.transition{
  transition: 0.1s;
  transform: scale(1.1);
  border-color: yellow;

}
