 /* MAPA JUEGO */

.mapa{
    display: grid;
    width:600px;
    height:600px;
    grid-template-columns: repeat(21,1fr);
    grid-template-rows: repeat(14,1fr);
}

/* CAMINO Y PILARES */

.camino{
    width: 50px;
    height: 50px;
    background-color:yellow;
}

.caminoPisado{
  background-image: url("huellas.png");
  background-size: 50px 50px;


}

.pilar{
    width:50px;
    height:50px;
    background-image: url("mantel.jpg");
    background-color:black;
}

/* PERSONAJES */

.personaje{
  background-image: url("patatas.png");
  background-size: 50px 50px;
  background-color: yellow;
}

.momia{
  background-image: url("gordi.gif");
  background-size: 50px 50px;
  background-color: yellow;

}
