 /* MAPA JUEGO */

.mapa{
    display: grid;
    width:600px;
    height:auto;
    grid-template-columns: repeat(23,1fr);
    grid-template-rows: repeat(15,1fr);
}

/* CAMINO Y PILARES */

.camino{
    width: 50px;
    height: 50px;
    background-color:yellow;
}

.pilar{
    width:50px;
    height:50px;
    background-image: url("mantel.jpg");
    background-color:black;
}

/* PERSONAJES */

.personaje{
  background-image: url("patatas.png");
  background-size: 50px 50px;
  background-color: yellow;
}

.momia{
  background-image: url("gordi.gif");
  background-size: 50px 50px;
  background-color: yellow;

}

/* HUELLAS PERSONAJES */

.huellasArriba{
  background-color: yellow;
  background-image: url("huellasArriba.png");
  background-size: 50px 50px;
}

.huellasAbajo{
  background-color: yellow;
  background-image: url("huellasAbajo.png");
  background-size: 50px 50px;
}

.huellasIzquierda{
  background-color: yellow;
  background-image: url("huellasIzquierda.png");
  background-size: 50px 50px;
}

.huellasDerecha{
  background-color: yellow;
  background-image: url("huellasDerecha.png");
  background-size: 50px 50px;
}
