
body{
    background-color: red;
.header{
    width: 100%;
    background-color: red;
    text-align: center;
    #logo{
        width: 24em;
        height: 15em;
    }
}
.formulario{

    border: black solid;
    background-color: yellow;
    border-radius: 20px;
    width: 200px;
    height: 250px;
    text-align: center;
    padding-top: 50px;
    margin: 0 auto;
}
}