
section{
  border: 2px dotted;
  border-radius: 10px;
}

.caja{
  content: url('cthulhu.svg');
  width:50px;
  height:50px;
}

button{
  background-color: grey;
  border-radius: 2px;
}

.linear{
transition: transform cubic-bezier(0.250, 0.250, 0.750, 0.750) 5s;
}

.ease{
transition: transform cubic-bezier(0.250, 0.100, 0.250, 1.000) 5s;
}
.ease-in{
transition: transform cubic-bezier(0.420, 0.000, 1.000, 1.000) 5s;
}

.ease-out{
transition: transform cubic-bezier(0.000, 0.000, 0.580, 1.000) 5s;
}

.ease-in-out{
transition: transform cubic-bezier(0.420, 0.000, 0.580, 1.000) 5s;
}

.transition{
  transform:translateX(1100px);
}
