body{

}

section{
  border: 2px dotted;
  border-radius: 10px;
}

.caja{
  content: url('cthulhu.svg');
  width:50px;
  height:50px;
}

button{
  background-color: grey;
  border-radius: 2px;
}

.linear{
transition-timing-function: linear;
transition-duration: 4s;
transform: translateX(100px);
}

.ease{
transition-timing-function: ease;
transition-duration: 4s;
transform: translateX(100px);
}

.ease-in{
transition-timing-function: ease-in;
transition-duration: 4s;
transform: translateX(100px);
}

.ease-out{
transition-timing-function: ease-out;
transition-duration: 4s;
transform: translateX(100px);
}

.ease-in-out{
transition-timing-function: ease-in-out;
transition-duration: 4s;
transform: translateX(100px);
}
